@media screen {
	@media (max-width: 600px) {
		#main > .ct-container-full {
			h1, h2 {
				font-size: 20px;
			}
			.hero-section { margin-left: 0px; }
			.main-ct-full(@fontSize: 14px, @width: 100%, @mtb: none, @plr: 10px, @radius: 0px);
			.submit-btn-mixin(@fontSize: 14px, @padding: 20px 15px);
			#mainPanel {
				.form-mixin(@basis: 100%, @mRight: 0px, @mBottom: 20px, @pBottom: 0px, @fontSize: 14px, @msgFont: 2);
				.submit-btn-mixin(@fontSize: 14px, @padding: 11px 15px);
			}
			#confirmPanel {
				.lgConfirmTitle {
					width: 100%;
					margin-top: 36px;
					margin-bottom: 45px;
					font-size: 16px;
				}
				.submit-btn-mixin(@fontSize: 14px, @padding: 11px 15px);
			}
			#footer {
				[data-row="middle"] {
					#footer-menu {
						padding-top: 15px !important;
					}
				}
			}
		}
	}
	@media (min-width: 601px) and (max-width: 767px) {
		#main > .ct-container-full {
			h1, h2 {
				font-size: 25px;
			}
			.main-ct-full(@fontSize: 16px, @width: 90%, @mtb: 50px, @plr: 20px, @radius: 20px);
			.submit-btn-mixin(@fontSize: 16px, @padding: 20px 16px);
			#mainPanel {
				.form-mixin(@basis: 100%, @mRight: 0px, @mBottom: 20px, @pBottom: 0px, @fontSize: 16px, @msgFont: 2);
				.submit-btn-mixin(@fontSize: 16px, @padding: 12px 16px);
			}
			#confirmPanel {
				.lgConfirmTitle {
					width: 100%;
					margin-top: 36px;
					margin-bottom: 45px;
					font-size: 19px;
				}
				.submit-btn-mixin(@fontSize: 16px, @padding: 12px 16px);
			}
		}
		#footer {
			[data-row="middle"] {
				display: none;
			}
		}
	}
	@media (min-width: 768px) and (max-width: 991px) {
		#main > .ct-container-full {
			h1, h2 {
				font-size: 29px;
			}
			.main-ct-full(@fontSize: 19px, @width: 70%, @mtb: 100px, @plr: 30px, @radius: 20px);
			.submit-btn-mixin(@fontSize: 19px, @padding: 20px 16px);
			#mainPanel {
				.form-mixin(@basis: 40%, @mRight: 15px, @mBottom: 20px, @pBottom: 0px, @fontSize: 19px);
				.submit-btn-mixin(@fontSize: 19px, @padding: 12px 16px);
			}
			#confirmPanel {
				.lgConfirmTitle {
					width: 100%;
					margin-top: 36px;
					margin-bottom: 45px;
					font-size: 22px;
				}
				.submit-btn-mixin(@fontSize: 19px, @padding: 12px 16px);
			}
		}
		#footer {
			[data-row="middle"] {
				display: none;
			}
		}
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		#main > .ct-container-full {
			h1, h2 {
				font-size: 35px;
			}
			.main-ct-full(@fontSize: 20px, @width: 70%, @mtb: 100px, @plr: 30px, @radius: 20px);
			.submit-btn-mixin(@fontSize: 20px, @padding: 20px 16px);
			#mainPanel {
				.form-mixin(@basis: 40%, @mRight: 15px, @mBottom: 20px, @pBottom: 0px, @fontSize: 20px);
				.submit-btn-mixin(@fontSize: 20px, @padding: 12px 16px);
			}
			#confirmPanel {
				.lgConfirmTitle {
					width: 100%;
					margin-top: 36px;
					margin-bottom: 45px;
					font-size: 28px;
				}
				.submit-btn-mixin(@fontSize: 20px, @padding: 12px 16px);
			}
		}
		#footer {
			[data-row="middle"] {
				display: none;
			}
		}
	}
	@media (min-width: 1200px) {
		#main > .ct-container-full {
			h1, h2 {
				font-size: 35px;
			}
			.main-ct-full(@fontSize: 21px, @width: 70%, @mtb: 100px, @plr: 30px, @radius: 20px);
			.submit-btn-mixin(@fontSize: 23px, @padding: 20px 16px);
			#mainPanel {
				.form-mixin(@basis: 40%, @mRight: 15px, @mBottom: 20px, @pBottom: 0px, @fontSize: 21px);
				.submit-btn-mixin(@fontSize: 23px, @padding: 12px 16px);
			}
			#confirmPanel {
				.lgConfirmTitle {
					width: 100%;
					margin-top: 36px;
					margin-bottom: 45px;
					font-size: 28px;
				}
				.submit-btn-mixin(@fontSize: 23px, @padding: 12px 16px);
			}
		}	
